
.app{
	height: auto;
	width: 100%;	
}

.menu{
	padding-top: 10px;
	text-align: left;
}

.main{
	padding: 20px 0px;
}

.title{
	color: black;
	font-size: 16px;
	text-align: left;
	margin-bottom: 20px;
}

